#!/bin/env fish

set -g clientId
set -g domain
set -g clientSecret
set -g connectionDb "Username-Password-Authentication"

set -g audience "https://$domain/api/v2/"

set -g secret 'a long, randomly-generated string stored in env'
set -g issuerBaseUrl "https://$domain"
set -g redirectUrl "http://localhost:8080/login/redirect"
